.PlaceList-Container{
    display: flex;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    top: 4rem;
    background-color: var(--bgcolor);
    transition: .3s;
}
.PlaceList.header{
    display: grid;
    grid-template-columns: 8rem auto;
}
.header h1{
    grid-column: 2;
    color: var(--text-color);
}
.searchGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
}
.verticalLine{
    background-color: var(--primary-color);
    height: 2rem;
    width: 1.5px;
}
.searchInput{
    margin: .5rem;
}
.select, .search,.Input{
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
    font-family: 'Kanit', sans-serif;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    background-color:var(--container-color);
}
.select{
    width: 12rem;
    height: 2rem;
}
.search{
    width: 15rem;
    height: 2rem;
    box-sizing: border-box;
    border: none;
}
.SearchIcon{
    cursor: pointer;
}


/* Responsive */


@media screen and (max-width: 375px) {
    
    .PlaceList.header{
        display: none;
    }
    .select{
        width: 7rem;
    }
    .search{
        width: 10rem;
    }
  }


 @media screen and (max-width: 460px) {
    .searchGroup{
        margin-right: auto;
        margin-left: auto;
    }
    .PlaceList.header{
        display: none;
    }
 }
 @media screen and (max-width: 585px) {
    .PlaceList-Container{
        top: 4rem;
        padding-top: 1rem;
    }
    .PlaceList.header{
        font-size: .5rem;
    }
    .select{
        width: 7rem;
    }
    .search{
        width: 9rem;
    }
}

@media screen and (max-width: 820px) {
    .PlaceList-Container{
        top: 4rem;
        padding-top: 1rem;
    }
    .PlaceList.header{
        font-size: .75rem;
        grid-template-columns: 1rem auto;
    }
  }

