
.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 9;
}
.navProfile *{
  cursor: pointer;
}
.navProfile{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 2rem;
}
.Navbar h4 {
  color: var(--container-color);
  font-weight: 300;
}

.profile.image img {
  width: 32px;
  height: 32px;
}


/* Responsive */

/* For small devices */
@media screen and (max-width: 375px) {
}


 /* For medium devices */
 @media screen and (max-width: 570px) {
    
}


/* For large devices */
@media screen and (max-width: 990px) {
  
}