@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  /* Main Color */
  --primary-color: #134B8A;
  --secondary-color: #0F1E56;
  --light-color: #C3BEBB;
  --lighten-color: #C4D3E9;
  --bgcolor: #f5f6f8;

  /* Text Color */
  --container-color: #fff;
  --text-color: #000;
  --dark-color: #605C5C;
  --light-font-color: #9E9E9E;
  --lighten-font-color: #E0E0E0;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--bgcolor);
}
.App{
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;

}



